@font-face {
    font-family: 'Recta-W01-Medium-Condensed';
    src: url('./fonts/Recta-W01-Medium-Condensed.ttf') format('truetype');
}


@font-face {
    font-family: 'Tanseek Modern Pro Arabic Book';
    src: url('./fonts/Tanseek-Modern-Pro-Arabic-Book.ttf') format('truetype');
}

*,
*::before,
*::after {
    box-sizing: border-box;

}

main{
    background-color: #F9FAFC;
    width: 1000px;
    height: 910px;
    margin: 0 auto;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E3EFF7;
    color: white;

}

.sec-01 {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    border: 1px solid rgb(0, 221, 99);
    background-color:  #0063FF;
    justify-content: center;
    align-items: center;
}

.cont-01 {
  
    align-items: end ;
    width: 220px;
    border: 1px solid black;
    text-align: start;
}

.text01{
    /*background-color: rgb(202, 163, 163);*/
    color: rgb(255, 255, 255);
    margin-left: 1px;
    font-weight: 500;
    padding-left: 19px;
}


.text02 {
    /*background-color: rgb(202, 163, 163);*/
    color: rgb(255, 255, 255);
    margin-left: 1px;
    border-left: 1px solid rgb(255, 255, 255);
    padding-left: 19px;
    font-weight: 500;



}

.sp01{
    font-weight: bolder;
    text-align: right;
    font-size: 20px;
}

.sec-02{
    width: 1000px;
    height: 420px;
    background-color: rgb(241, 241, 240);
    border: 1px solid deeppink;
    margin: 0 auto;
}

.ed-01{
    width: 880px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 55px;
}

h2{
    color: orangered;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: Recta-W01-Medium-Condensed; 
    margin: 10px auto;
    text-align: center;
   
}

.font-01{
    color: black;
    font-size: 2.9rem;
    border: 1px solid olive;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: Recta-W01-Medium-Condensed;
    line-height: 1.0;
}

.list-01{
    border: 1px solid rgb(2, 0, 99);
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    padding: 10px 5px;
}

.art-01{
    border: 1px solid red;
    background-color: white;
    padding: 1px 9px 1px 9px;
    border-radius: 10px;
}
h3{
    color: black;
    font-size: 1.em;
    font-weight: 200;
    margin-bottom: 0px;
    font-family: Recta-W01-Medium-Condensed;
    margin-top: 0px;
    
}


.contx-01{
    color: black;
    font-size: 0.87em;
    
    margin: 8px 0 10px 0;
    border: 1px solid brown;
}

.f01{
    margin: 20px 0px 10px 0px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}


img{

    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin: 0;
}

.sec-03{
    width: 1000px;
    height: 370px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(126, 0, 67);
    margin: 0 auto;
}

.font-02{
    color: black;
    font-size: 2.9rem;
    border: 1px solid olive;
    width: 800px;
    margin: 0 auto;
    text-align: center;
 
    font-family: Recta-W01-Medium-Condensed;
    line-height: 1.0;
}



.list-02{
    border: 1px solid rgb(2, 0, 99);
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-row-gap: 30px;
    padding: 10px 5px;
}

.art-02{
    border: 1px solid red;
    border-radius: 5px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}


.img02{
    width: 30px;
    height: 30px;
    margin: 10px;
    
    
    
}
.font-03{
    color: black;
    border: 1px solid blue;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bolder;

}



.ed-02{
    width: 880px;
    height: 120px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 55px;
    font-family: Recta-W01-Medium-Condensed;
}